$primary-color: #fff;
// $primary-color: #fff;
$secondary-color: #1aeea7;
$show-home-image: true;
$home-image: url(../img/background.jpeg);
$portrait-image: url(../img/portrait.jpg);
$background-opacity: 0.9;
$menu-opacity: 0.9;

@mixin easeOut {
  transition: all 0.5s ease-out;
}

@mixin background {
  @if $show-home-image {
    &#bg-img {
      background: $home-image;
      background-attachment: fixed;
      background-size: cover;
      &:after {
        content: '';
        position: fixed;
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;
        background: rgba($primary-color, $background-opacity);
        z-index: -1;
      }
    }
  }
}

// Set text color
@function set-text-color($color) {
  @if (lightness($color) > 40) {
    @return #000;
  } @else {
    @return #fff;
  }
}

// Set subtitle layover
@function set-layover($color) {
  @if (lightness($color) > 40) {
    @return rgba(darken($primary-color, $amount: 8), 0.5);
  } @else {
    @return rgba(lighten($primary-color, $amount: 2), 0.5);
  }
}

//Media Query Mixins
@mixin mediaSM {
  @media screen and (max-width: 500px) {
    @content;
  }
}

@mixin mediaMD {
  @media screen and (max-width: 768px) {
    @content;
  }
}
@mixin mediaLG {
  @media screen and (min-width: 769px) and (max-width: 1170px) {
    @content;
  }
}
@mixin mediaXL {
  @media screen and (min-width: 1171px) {
    @content;
  }
}
