@import 'config';
@import 'menu';

* {
  box-sizing: border-box;
}

body {
  @include background;
  background: $primary-color;
  color: set-text-color($primary-color);
  height: 100%;
  margin: 0;
  font-family: 'Rubik', sans-serif;
  line-height: 1.5;
}

// Headings
h1,
h2,
h3 {
  margin: 0;
  font-weight: 300;
  &.lg-heading {
    font-size: 5rem;
  }
  &.sm-heading {
    // font-size: 1rem;
    font-family: 'VT323', monospace;
    margin-bottom: 2rem;
    padding: 0.2rem 1rem;
    background: set-layover($primary-color);
  }
}

a {
  color: set-text-color($primary-color);
  text-decoration: none;
}

header {
  position: fixed;
  z-index: 2;
  width: 100%;
}

.text-secondary {
  font-family: 'Pacifico', cursive;
  color: $secondary-color;
}

main {
  padding: 4rem;
  // height: 100%;
  min-height: calc(100vh - 60px);

  .icons {
    margin-top: 1rem;
    a {
      padding: 0.4rem;

      &:hover {
        color: $secondary-color;
        // @include easeOut();
      }
    }
  }

  &#home {
    overflow: hidden;
    h1 {
      margin-top: 20vh;
    }
  }
}

.about-info {
  display: grid;
  grid-gap: 2rem;
  grid-template-areas:
    'img bio bio'
    'job1 job2 job3';

  grid-template-columns: repeat(3, 1fr);
}

.bio-img {
  grid-area: img;
  width: 100%;
  padding-top: 100%;
  background-image: $portrait-image;
  background-size: cover;
  background-position: 8px -5px;
  border-radius: 50%;
  border: 3px $secondary-color solid;
}

.bio {
  grid-area: bio;
}

.job1 {
  grid-area: job1;
}
.job2 {
  grid-area: job2;
}
.job3 {
  grid-area: job3;
}

.job {
  background: set-layover($primary-color);
  padding: 1rem;

  // TODO add shadow
}

#main-footer {
  text-align: center;
  padding: 1rem;
  background: set-layover($primary-color);
  color: set-text-color($primary-color);
  height: 60px;
}

.project-gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 0.7rem;

  img {
    width: 100%;
    border: 3px solid set-text-color($primary-color);

    &:hover {
      opacity: 0.8;
      border-color: $secondary-color;
      @include easeOut;
    }
  }
}

.btn {
  display: block;
  padding: 0.5rem 1rem;
  margin-bottom: 0.3rem;

  i {
    margin-right: 0.1rem;
  }
}

.btn-light {
  @extend .btn;
  background: set-layover($primary-color);
  &:hover {
    background: $secondary-color;
  }
}

.btn-dark {
  @extend .btn;
  margin-top: 0.3rem;
  background: set-text-color($primary-color);
  color: $primary-color;
  &:hover {
    color: set-text-color($primary-color);
    background: $secondary-color;
  }
}

.boxes {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  h4 {
    border: set-text-color($primary-color) solid 3px;
    font-size: 2rem;
    text-align: center;
    padding: 0.5rem 1rem;
    margin: 1rem 1rem;
    @include easeOut;
    &:hover {
      background: $secondary-color;
      color: $primary-color;
      .text-secondary {
        color: set-text-color($primary-color);
      }
    }
  }
}

@import 'mobile';
